<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Films</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    </head>

    <body>

         <div class="container">

             <div class="jumbotron">

                 <h1 class="text-center">Film creation</h1>
             </div>
             <table  class="table table-bordered table-hover well">
                 <thead>
                 <tr>
                     <th class="col-md-1">#</th>
                     <th >Film</th>
                     <th >Director</th>
                     <th >Studio</th>
                     <th >Date</th>
                     <th class="col-md-3">Action</th>
                 </tr>
                 </thead>
                 <tbody id="factsTable"></tbody>
             </table>

             <div class="row">
                 <div class="col-md-6 text-center">
                     <button id="newInstanceBtn" type="button" class="btn btn-primary btn-lg"
                             data-toggle="modal" data-target="#cuModal">
                         Add instance
                     </button>
                 </div>
                 <div class="col-md-6 text-center">
                     <button id="truncateBtnModal" type="button" class="btn btn-danger btn-lg"
                             data-toggle="modal" data-target="#deletingModal">
                         Truncate table
                     </button>
                 </div>
             </div>
             <hr>

             <div class="panel panel-primary">
                <div class="panel-heading text-center">Search</div>
                <div class="panel-body">

                </div>
            </div>
         </div>

         <div id="modalTarget"></div>

    </body>

    <script src="static/Lab2App/Javascript/index.js"></script>

</html>
